.footer {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  background: url(/public/staticImgs/generalUse/__remilia_scarlet_and_saigyouji_yuyuko_touhou_drawn_by_mero_starfish_jcs__sample-bd3ed144e95dce49380e4f20cc664741e.jpg)
    center center/cover;
  height: 150px;
  width: auto;
  padding-top: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 12px;
  margin-top: 30px;
  width: 95%;

  margin: auto;
}

.footer h2 {
  -webkit-text-stroke: 1.5px black; /* Para navegadores WebKit */
  color: white; /* Para que el borde sea visible */
  font-size: 45px;
  font-weight: 900;
}

.footer p {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 26px;
  font-weight: 500;
}
.mailText {
  color: rgb(42, 157, 245);
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
.githubLink {
  color: rgb(42, 157, 245);
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  cursor: pointer;
}
