.container {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  min-width: 50vw;
}
.validateUser {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  display: grid;
  place-items: center;
}
.validateHeader {
  display: flex;
  align-items: center;
  font-size: 23px;
  margin-bottom: 5px;
}
.validateHeader img {
  height: 40px;
  width: auto;
  margin-left: auto;
}
