.content {
  width: 95%;
  margin: auto;
}
.all {
  width: 100vw;
  min-height: 100vh;
}
.buttonUpload {
  display: flex;
  align-items: center;
  background-color: rgb(232, 62, 169);
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 12px;
  margin-left: 20px;
  font-size: 22px;
}
.buttonUpload:hover {
  background-color: rgb(219, 46, 156);
}
.buttonAndLoad {
  display: flex;
  gap: 20px;
  align-items: center;
}
.buttonAndLoad img {
  height: 85px;
  width: 85px;
}
.dragItem {
  position: absolute;
  right: 60vw;
  top: 30vh;
  background-color: white;
  width: 300px;
  min-width: 200px;
  max-height: 80vh;
  cursor: move;
}
.dragHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 0px 16px;
  user-select: none;
}
.dragHeader p {
  font-size: 20px;
}
.dragItem label {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-height: 200px;
  overflow: scroll;
  max-height: 60vh;
}

.draggableImg {
  object-fit: contain;
}
.resizeButtons {
  padding-left: 12px;
}
.resizeButtons button {
  width: max-content;
}
