.content {
  width: 95%;
  margin: auto;
}
.all {
  width: 100vw;
  min-height: 100vh;
}
.buttonUpload {
  display: flex;
  align-items: center;
  background-color: rgb(232, 62, 169);
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 12px;
  margin-left: 20px;
  font-size: 22px;
}
.buttonUpload:hover {
  background-color: rgb(219, 46, 156);
}
.buttonAndLoad {
  display: flex;
  gap: 20px;
  align-items: center;
}
.buttonAndLoad img {
  height: 85px;
  width: 85px;
}
