.content {
  width: 95%;
  margin: auto;
}
.all {
  width: 100vw;
  height: 100vh;
}
.field {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239f9aa6' fill-opacity='0.55' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  border: black 3px solid;
  border-radius: 10px;
  padding: 5px;
  width: max-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.inputFile {
  display: none;
}
.button {
  border-radius: 0px;
  width: max-content;
  padding: 5px 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.buttonLoad {
  background-color: rgb(255, 255, 255);
  border: black 3px solid;
}
.button:hover {
  background-color: rgb(208, 217, 226);
}
.uploadFanArtButtons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.buttonUpload {
  background-color: rgb(232, 62, 169);
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22px;
}
.preview {
  display: flex;
  align-items: center;
  width: 30px;
  height: auto;
}
.buttonUpload:hover {
  background-color: rgb(219, 46, 156);
}
.dragItem {
  position: absolute;
  right: 60vw;
  top: 30vh;
  background-color: white;
  width: 200px;
  overflow: hidden;
  min-width: 200px;
  max-width: 450px;
  width: fit-content;
  cursor: move;
}
.dragHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;

  user-select: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dragHeader p {
  font-size: 20px;
}
.dragItem label {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.containerImg {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-height: 200px;
}
.draggableImg {
  max-width: 200px;
  max-height: 300px;
  object-fit: contain;
}
.originalLink {
  border: 3px solid black;
}
.originalLink:focus {
  outline: none;
}
