.inputCode {
  border: 2px solid black;
  padding: 3px;
  transition: border 0.3s;
}
.inputCode:focus {
  outline: none;
  border: #c92c7a 2px solid;
}
.inputPassword {
  border: solid 2px black;
  padding: 3px;
  transition: border 0.3s;
}
.inputPassword:focus {
  outline: none;
  border: solid 2px #3535ca;
}
