.inputCode {
  border: 2px solid black;
  padding: 3px;
  transition: border 0.3s;
}
.inputCode:focus {
  outline: none;
  border: #c92c7a 2px solid;
}
.inputPassword {
  border: solid 2px black;
  padding: 3px;
  transition: border 0.3s;
}
.inputPassword:focus {
  outline: none;
  border: solid 2px #3535ca;
}
.changePasswordButton{
  background-color: #4a4af0;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 18px;
  width: max-content;
  transition: background-color 0.3s;
}
.changePasswordButton:hover{
  background-color: #3535ca;
}
.resetInputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}
